html {
    font-family: 'Roboto Condensed', sans-serif;
}

.header{
	padding-top:30px;
}

#logo {
	height:200px;
	display: block;
	width: auto;
	margin: auto;
}

.info-background-pink{
	background-color:#FFA0FD;
}

.info-background-blue{
	margin-top:10px;
	background-color:#8093F1;
}

.info-background-green{
	margin-top:10px;
	background-color:#16BAC5;
}

.info-background-purple{
	margin-top:10px;
	background-color:#84DCC6;
}

.info-background-usage{
	margin-top:10px;
	background-color:#B7D3F2;
}

.tag-line{
	padding-left:3em;
	padding-right:3em;
	text-align:center;
}

.gif {
	padding-top:50px;
}

#install-header{
	text-decoration: underline;
}